[submodule "tests/data"]
	path = tests/data
	url = https://github.com/GEMDAT-repos/test_data.git
[submodule "docs/notebooks"]
	path = docs/notebooks
	url = git@github.com:GEMDAT-repos/gemdat-notebooks.git
